@import '../shared/styles/index.scss';

mat-nav-list {
  @include horizontal-navigation;

  > a {
    background-color: $dark-smooth-color;
    color: $light-color;
    border-radius: 15%;
    @include little-margin;
  }
}


