<mat-toolbar>
    Book
</mat-toolbar>

<mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Lord of the rings" 
                value={{book.title}} >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author</mat-label>
            <input matInput placeholder="Ex. Pepe" value={{book.author}}>
        </mat-form-field>
        <button (click)="deleteBook(book.id)"></button>
        <button mat-button color="warn">Basic</button>
    </form>
</mat-dialog-content>